.eventContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 4rem;
    padding: 40px;
    gap: 1rem;
    background: white;
    color: var(--secondary2);
    border-radius: 1rem;
    box-shadow: -13px 15px 20px #c5c5c5;
}   

.eventContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 18px;
    width: 100%;
    font-weight: 700;
}

.row{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.inputArea{
    color: var(--secondary2);
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--secondary2);
    font-size: 15px;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

.inputArea::-webkit-file-upload-button{
    border-radius: 5px;
    color:var(--secondary2);

}

input[type=file]{
    border:none
}


.eventContainer form input{
    width: 60%;
}

.inputArea::placeholder{
    color: #618684;
}

.inputArea:focus{
    scale: 1.03;
    
}

.eventContainer form textarea{
    width: 80%;
}

.inp{
    width: 50%;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.inp img{
    width: 20%;
    border-radius: 10%;
}

.inp #AfterUpload{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* position: absolute;
    top: 45% */
}

option{
    padding: 2px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    border-radius: 1rem;
}

.paginationbuttons .buttonactive{
    scale: 1.1;
    background: var(--domColor);
    color: var(--primaryColor);
}



.row5 button{
    width: 10%;
    padding: 10px;
    border-radius: 1rem;
    background: transparent;
    color: var(--secondary2);
    font-size: 15px;
    font-weight: 600;
    border: 3px solid var(--domColor);
    transition: all .2s ease-in-out;
}

.row5 button:hover{
    background: var(--domColor);
    color: var(--primaryColor);
}

.eventContainer h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.eventContainer h1 svg{
    font-size: 30px;
}

.eventContainer h1::after{
    content: ' ';
    display: block;
    color: var(--domColor);
    border: 2px solid var(--domColor);
    animation: line 3s alternate infinite;
}

@keyframes line {
    0%{
        /* width: 0%;
        margin-left: 0%; */
        margin: 0 50%;
    }
    100%{
        /* width: 100%;
        margin-left: 100%; */
        margin: 0 0;
    }
}


.row1 button{
    border: none;
    font-size: 25px;
    color: var(--secondary2);
    background: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.row1 button:hover{
    scale: 1.1;
}

.paginationbuttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.paginationbuttons button{
    border-top: none;
    border-bottom: none;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.row3{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.error{
    color: white;
    font-weight: 700;
    top: 50%;
    background: red;
    padding: 10px;
    right: 0;
    position: fixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation: openleft 1s ease-in-out alternate;
    z-index: 100;
}

@keyframes openleft {
    0%{
        opacity: 0;
        right: -100%;
    }
    100%{
        opacity: 1;
        right: 0%;
    }
}

/* #################### Details Page #####################################  */

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 4rem 4rem 4rem;
    gap: 2rem;
}

.rightContent img{
    width: 700px;
    height: 380px;
}

.rightContent .description{
    width: 700px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.rightContent .description p{
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.11rem;
}


.leftContent{
    width: 30%;
}

.leftContent .card{
    width: 100%;
    height: 410px;
    background-color: var(--primaryColor);
    position: relative;
    border-radius: 7px;
    box-shadow: -11px 9px 16px #8585851f;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #cccccc;
}

.card .title{
    display: flex;
    gap: 1rem;
}

.card .title button{
    font-size: 35px;
    background: var(--primaryColor);
    cursor: pointer;
    border: none;
}

.card .detail_col{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.card .detail_col svg{
    font-size: 25px;
    color: var(--dom2);
}

.card .detail_col button:disabled{
    cursor: not-allowed;
}

.card .detail_col p{
    font-weight: 500;
    font-size: 15px;
}

.card .price{
    position: absolute;
    bottom: 5%;
}

.price button{
    color: var(--primaryColor);
    font-weight: 700;
    background: var(--domColor);
    padding: 8px;
    border-radius: 8px;
    margin-left: 2rem;
    border: none;
    transition: all .3s ease-in-out;
    border: 1px solid var(--primaryColor);
}

.price button:hover{
    background: var(--primaryColor);
    color: var(--domColor);
    border: 1px solid var(--domColor);
}

.ticketSize input{
    border: none;
    width: 40px;
    background: transparent;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

#ticketsSold{
    font-size: 12px;
    padding: 2px;
    text-align: center;
    /* background: green; */
    border-radius: 8px;
    color: white;
    position: absolute;
    top: 35%;
    text-shadow: 2px 3px 7px black;
}

#ticketsSold span{

    font-size: 3.5rem;
}